QPushButton {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
}

QPushButton:pressed {
    background-color: #383844;
}
